@media (min-width: 1201px) {}

@media (min-width: 1025px) and (max-width: 1200px) {}

@media (max-width: 1200px) {
    .works__item_info {
        position: static;
        display: block;
        transform: translateX(0%) translateY(0%);
    }

    .works__item_name_inner,
    .works__item_desc_inner {
        transform: translateY(0%);
    }
}


@media (max-width: 767px) {
    .approach__sec_text_target_in {
        max-width: 44rem;
        /* max-width: 33%; */
    }

    .works .content_grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .w-1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .w-2 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .w-3 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .w-4 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .w-5 {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .w-6 {
        grid-column-start: 3;
        grid-column-end: 5;
    }



    /* .works__item_info_name {
        font-size: 3.825vw;
        font-weight: 400;
        margin-top: 3vw;
    } */

    .t-12 {
        font-size: 1.2vw;
        font-weight: 300;
    }

    .t-14 {
        font-size: 1.35vw;
        font-weight: 300;
    }

    .t-16 {
        font-size: 1.5vw;
        font-weight: 300;
    }

    .t-18 {
        font-size: 1.65vw;
        font-weight: 300;
    }

    .t-20 {
        font-size: 1.8vw;
        font-weight: 300;
    }

    .t-30 {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {

    .burger-menu {
        display: flex;
    }

    .mobile-nav {
        display: flex;
    }

    .header__nav {
        display: none;
    }

    .header {
        padding-top: 4vw;
        padding-bottom: 4vw;
        background: rgba(24, 24, 24, 60%);
    }

    .hero_section__content_desc_gr {
        margin-bottom: 20vw;
        text-align: center;
    }

    .header__contact_btn {
        padding: 2.7vw 5.36875vw;
        border-radius: 3.43333333332vw;
        /* margin-bottom: 20vw; */
    }

    .header__contact_btn:hover {
        color: var(--text-color);
    }

    .header__mob_right>.header__contact_btn {
        display: none;
    }

    .container {
        padding: 0 4vw;
    }

    .about__title_wrap {
        margin-bottom: 6vw;
        gap: 4vw;
    }

    .section_title {
        gap: 4vw;
    }

    .about__title_dot {
        height: 2vw;
        width: 2vw;
    }

    .about__title {
        font-size: 7vw;
        /* display: none; */
    }

    .about {
        height: 150vh;
    }

    .works,
    .approach {
        padding-bottom: 60vw;
    }

    .works .content_grid {
        grid-template-columns: 1fr;
    }

    .works__item_info_desc_text {
        line-height: 140%;
    }

    .content_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .t-12 {
        font-size: 3vw;
        font-weight: 300;
    }

    .t-14 {
        font-size: 4vw;
        font-weight: 300;
    }

    .t-16 {
        font-size: 4.3vw;
        font-weight: 300;
    }

    .t-18 {
        font-size: 5.5vw;
        font-weight: 300;
    }

    .t-20 {
        font-size: 7vw;
        font-weight: 300;
    }

    .t-30 {
        font-size: 7vw;
    }

    .section_title {
        font-size: 7vw;
        padding-bottom: 2.5vw;
    }

    .hero_section__content_h1 {
        font-size: 28vw;
        letter-spacing: -1.5vw;
        text-align: center;
        font-weight: 700;
    }

    .hero_section__name {
        font-size: 23vw;
        line-height: 12.5vw;
    }

    .hero_section__name_small {
        font-size: 6vw;
        line-height: 11vw;
    }

    .hero_section__content {
        transform: translateX(-50%) translateY(-70%);
        font-weight: 600;
        padding: 0 4vw;
    }

    .hero_section__bot_content_scroll_icon {
        width: 4vw;
    }

    .hero_section__bot_content_scroll {
        gap: 3vw;
        /* align-self: flex-end; */
    }

    .hero_section__bot {
        bottom: 7vw;
    }

    .works .content_grid:not(:last-child) {
        margin-bottom: 30vw;
    }

    .section_title {
        margin-bottom: 20vw;
    }

    .works__item_info_name {
        margin-top: 7vw;
        font-size: 10vw;
        margin-bottom: 4vw;
    }

    .works__big_height {
        padding-bottom: 1.1vw;
    }

    .works__item_info_desc svg {
        display: none;
    }

    .works__item_img_block {
        height: 40vh;
    }

    .approach__main_text {
        font-size: 2.8rem;
        /* text-indent: 0%; */
        margin-bottom: 20vw;
    }

    .approach__spin {
        margin-bottom: 20vw;
    }

    .approach__sec_text_target {
        text-align: left;
        font-size: 1.3rem;
    }

    .approach__sec_text_money {
        margin-bottom: 5vw;
    }

    .approach__sticky_block_h3 {
        padding: 2.2vw 4.4vw;
        border-radius: 10vw;

        margin-bottom: 3vw;
    }

    .services .section_title {
        grid-column-start: 1;
        grid-column-end: 3;
        border-bottom: 1px solid var(--main-line-color);
    }

    .services__items {
        grid-column-start: 1;
    }

    .services__item:not(:last-child) {
        margin-bottom: 10vw;
    }

    .services__item_name {
        font-size: 10.3vw;
        grid-column-start: 1;
        margin-bottom: 4vw;
    }

    .services__item_props {
        display: none;
    }

    .services__item_img {
        grid-column-start: 1;
        grid-column-end: 2;
        padding-right: 0;
    }

    .services__item_desc {
        grid-column-start: 1;
        grid-column-end: 3;
        /* margin-bottom: 10vw; */
    }

    .services__item_types {
        gap: 1vw;
        margin-bottom: 3vw;
    }

    .marquee_line_wrap {
        margin-left: -50vw;
        width: 1500%;
        /* display: none; */
    }

    .marquee_line_wrap p {
        font-size: 15vw;
    }

    .footer {
        padding-top: 5vw;
    }

    .footer__main_btn {
        font-size: 15vw;
    }

    .footer__contacts_soc {
        grid-column-start: 1;
    }

    .footer__contacts_item .content_grid {
        grid-template-columns: 1fr;
    }

    .footer__contacts_item {
        margin-bottom: 5vw;
    }

    .footer__contacts_link {
        justify-self: end;
    }

    .footer__bottom_block {
        padding: 8vw 0;
    }

    .mobile-nav .footer__contacts {
        width: 100%;
        padding: 0 4vw;
        margin-bottom: 20vw;
    }

    .mobile-nav .footer__contacts_soc {
        align-self: start;
        justify-self: start;
    }

    .mobile-nav .footer__contacts_link {
        justify-self: start;
        color: var(--bg-color);
    }

    .mobile-nav .footer__contacts_item {
        margin-bottom: 8vw;
    }

    canvas {
        height: 85vw;
        width: 85vw;
    }
}